/* CSS Document */
#teacher_list
{
		width: 80%;
	/*border: 1px;
	background-color: #6595D6;
	white-space: normal;
	line-height: normal;
	font-weight: normal;
	font-size: medium;
	font-variant: normal;
	font-style: normal;
	color: -webkit-text;
	text-align: start;*/
	font: 12px Arial, Helvetica, sans-serif;
	border:1px solid #718EBB;
	border-collapse:collapse;

}

#teacher_list th
{
	border:1px solid #718EBB;
}

#teacher_list td
{
	border:1px solid #718EBB;
	height:10px;
}

#teacher_list a
{
	color:#000;
}

#teacher_list a:hover
{
	color:#06C;
}
