/* CSS Document */
body
{
	margin:0px;
	padding:0px;
	background-color:#CCC;

}


#all
{
	margin:0 auto;
	padding:0;
	width:1010px;
	height:900px;
	/*background-color:#0C0;*/
}

#body
{
	background-image:url(../img/back02.png);
	width:1010px;
	height:738px;
	background-color:#fff;
}

#body_top
{
	width:1010px;
	height:30px;
	/*background-color:#00FF66;*/
	background-image:url(../img/%E6%B8%90%E5%8F%98.png);
}

#body_top span
{
	font-size:12px;
	font-weight:500;
}

#body_top span a
{
	font-size:12px;
	font-weight:500;
	text-decoration: none;
	color:#000;
}
#firstpage_manage
{
	width: 80%;
	font: 12px Arial, Helvetica, sans-serif;
	border:1px solid #718EBB;
	border-collapse:collapse;
	margin-top:10px;
}


#firstpage_manage th
{
	border:1px solid #718EBB;
	height:30px;
	font: 19px Arial, Helvetica, sans-serif;
	font-weight:bold
}
#firstpage_manage td
{
	border:1px solid #718EBB;
	height:25px;
}
