body
{
	margin:0 auto;
	padding:0;
	background-color:#CCC;
}

#all
{
	width:1010px;
	height:900px;
	background-color:#FFFFFF;
	margin:0 auto;
	padding:0;
}

#top
{
	width:1010px;
	height:162px;
}

#top_left
{
	height:162px;
	width:470px;
	/*background-color:#093;*/
	float:left;
}

#top_right_top
{
	height:125px;
	width:470px;
	float:left;
}

#body
{
	width:1010px;
	height:738px;
}

#position
{
	width:1010px;
	height:30px;
	background:url(../img/%E6%B8%90%E5%8F%98.png) no-repeat;

}

span
{
	font-size:12px;
	font-weight:500;
}

span a
{
	text-decoration: none;
	color:#000;
}

#message
{
	width:100%;
	height:708px;
}

#resource
{
	width:100%;
}
#resource_list
{
	width:80%;
	border-collapse:collapse;
	border:1px solid #39F;
	table-layout: fixed;/*固定宽度*/
	word-break:break-all;
}

#resource_list th,#resource_list td
{
  	border:1px solid #39F;
}